.welcome {
  background-color: #edecea;
}

.welcome__bg {
  background: url(../../../public/img/welcome-image.webp) center bottom
    no-repeat;
  background-size: cover;
  padding: 185px 0;
  margin-top: 60px;
  @media screen and (min-width: 1392px) {
    background-size: contain;
  }
  @media screen and (max-width: 1023px) {
    padding: 81px 0;
    background-position: right -165px bottom;
  }
  @media screen and (max-width: 767px) {
    padding: 51px 0;
    .welcome__text_big {
      display: none;
    }
  }
  @media screen and (max-width: 480px) {
    background-size: 800px;
    background-position: right -232px bottom -16px;
  }
}

.welcome__content {
  max-width: 670px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 1023px) {
    max-width: 424px;
  }
  @media screen and (max-width: 767px) {
    max-width: 240px;
  }
}

.welcome__title {
  margin-bottom: 21px;
}

.welcome__text {
  margin-bottom: 25px;
  max-width: 527px;
  @media screen and (max-width: 1023px) {
    margin-bottom: 32px;
  }
}

.welcome__button {
  padding: 12px 48px;
}
